@import "variables";

@mixin grey-borders {
  border-left-style: solid;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: $basic-grey;
}

@mixin text-button-base {
  border-radius: $rounded-sides;
  outline: none;
  color: $darker-grey;
  font-size: $normal-font;
  padding: .8em 1.8em;
  text-decoration: none;
  font-weight: 700;
  margin: 1em;
}
