@import "variables";
@import "mixins";

#root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  max-width: 75em;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-size: 15px;
}

.profile-pic {
  border-radius: $rounded-sides;
}

.colored {
  filter: $blue-filter;
}

.red-colored {
  filter: $red-filter;
}

.grey-colored {
  filter: $counter-grey-filter;
}

::placeholder {
  color: darkgrey;
}

.tab-title {
  font-size: $larger-font;
  font-weight: 800;
  margin: 0;
  flex-grow: 2;
}

#tabTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.middle-column-container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-grow: 2;

  @include grey-borders;
}

.boxy {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $basic-grey;
}

.text-button-framed {
  @include text-button-base;
  background-color: $background-grey;
  border: 1px solid;
}

.text-button-framed:enabled {
  background-color: white;
  color: $basic-blue;
  cursor: pointer;
}

.text-button-framed:hover:enabled {
  background-color: $very-light-blue;
}

.text-button-framed:active:enabled {
  position: relative;
  top: 1px;
}

.text-button-solid {
  @include text-button-base;
  opacity: 0.5;
  background-color: $very-light-blue;
  border: none;
}

.text-button-solid:enabled {
  background-color: $basic-blue;
  color: white;
  cursor: pointer;
}

.text-button-solid:hover:enabled {
  opacity: 1;
}

.text-button-solid:active:enabled {
  position: relative;
  top: 1px;
}

.icon-button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: $rounded-sides;
  border-style: none;
  cursor: pointer;
  padding: 8px 8px;
  margin: 2px;
}

.icon-button:hover {
  filter: none;
  background-color: $very-light-blue;
}

.inner-tab-name {
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: $basic-blue;
  font-size: $normal-font;
  padding: 10px 18px;
  font-weight: 700;
  margin: 1em;
}

.small-text {
  font-size: $normal-font;
  font-weight: 400;
  margin: 1em 0;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.modal-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1em 1em 0 1em;

  .post-face {
    border-radius: $rounded-sides;
    padding: 1em;
  }

  .post {
    padding: 0 1em;
    display: flex;
    align-items: stretch;
    flex-flow: column;
    flex-grow: 2;

    .author {
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 0;
      font-size: $normal-font;
    }

    .post-text {
      margin-block-start: 0;
      margin-block-end: 0;
      margin: 0;
      font-size: $normal-font;
    }

    .post-toolbar {
      padding-top: 1em;
      padding-right: 5em;
      padding-bottom: 0.1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.edit-field-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $background-grey;

  width: 100%;
  margin-top: 1em;

  .profile-edit-input {
    border: none;
    font-size: $larger-font;
    font-weight: 400;
    font-style: normal;
    font-family: inherit;
    color: $very-dark-grey;

    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: $darker-grey;
    border-bottom-width: 2px;
  }

  .profile-edit-input:focus {
    outline: none;
    border-bottom-color: $basic-blue;
  }

  .input-counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: $counter-grey;
    padding-right: 10px;
    padding-top: 5px;
    background-color: white;
  }
}







