@import "variables";
@import "mixins";

#feedContainer {
  #twittingContainer {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;

    #twittingBox {
      display: flex;
      flex-direction: column;
      flex-grow: 10;
      padding-left: 1em;
      padding-right: 1em;

      #twittingInput {
        border: none;
        font-size: $larger-font;
        font-weight: 400;
        padding-top: 0.8em;
        padding-bottom: 0;
        outline: none;
      }

      #twittingToolbarContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #twittingToolbar {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          .tool-button {
            padding: 0.5em;
          }
        }
      }
    }
  }

}
