@import "variables";

#menuContainer {
  flex-direction: column;
  flex-grow: 1;

  #logo {
    margin-bottom: 1.5em;
  }

  #menu {
    padding: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .menu-item {
      list-style-type: none;
      margin-bottom: 1em;
      padding: 0.5em 1.5em 0.5em .6em;
      cursor: pointer;
      color: black;

      .menu-item-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: inherit;

        .menu-item-text {
          padding-left: 1.2em;
          font-size: $larger-font;
          font-weight: 700;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
      }
    }

    .menu-item:hover {
      background-color: rgba(0,0,0,0.2);
      border-radius: $rounded-sides;
      filter: $blue-filter;
    }
  }
}
